.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 80px;
}
.nav-items{

}
.nav-items > ul{
    display: flex;
    padding: 0px 20px;
    list-style-type: none;
}
.nav-items > ul >li{
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px;
}